.calc {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 40vw;
  min-width: 320px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
}

.modal > button {
  padding: 8px;
  font-family: "Acme", sans-serif;
  display: flex;
  justify-content: center;
}
